<%= link_to image_tag("pageback.png", :title => "Previous"), admin_path, :class => "magnify" %>

<div class = "r-float">
  <%= link_to "Add a template", new_letter_template_path %>
</div>

<div id = "listing">
  <ul class="no_dec">
    <% @letter_templates.each do |template| %>
      <li>   
        <%= link_to template.description, letter_template_path(template), :title => "View/edit content" %>
      </li>
    <% end %>
  </ul>
</div>
