<%= link_to image_tag("pageback.png", :title => "Previous"), plan_jobqualities_path(@jobquality.plan), :class => "magnify" %>

<h1><%= @jobquality.quality.quality %></h1>

<div class="subtext"><i>
  Typical behaviour - from Outstanding (A) to Poor (E):
</i></div>
<div id="listing" class="under">
  
  <%= render '/pams/attribute_listing' %>
</div>

