<p>Dear <%= @user.name %></p>

<p>Thank you for suggesting the addition of '<%= @quality.quality %>' to the list of Personal Attributes in JobScape. </p>
<p>We've checked the attributes and the PAMs and we're pleased to tell you that you'll now find your suggestion in the official
list of approved attributes.</p>
<p>You may notice modifications.  If so it'll be so that the definitions can be used by the whole community of JobScape users.</p>
<p>With best wishes<br /></p>
<p>The JobScape Team</p>
