<div class="over">
  <h4 class="over">ROLE</h4>
  <%= @outline.role %>
</div>
<div class="over">
  <h4 class="over">QUALITIES</h4>
  <%= @outline.qualities %>
</div>
<h4 class="over">IMPORTANCE</h4>
<%= @outline.importance %>


