<%= render 'shared/aplan_nav' %>

<%= link_to image_tag("pageback.png", :title => "Previous"), @plan, :class => "magnify" %>

<div id="title" class="over">
  <%= render '/shared/job_title_cluster' %>
</div>

<div class="subtext">
  <%= render 'fields' %>
</div>
