<div id="rubric">
  <div>
    <h1>Role</h1>
    <%= @outline.role %>
  </div>
  
  <div class="under">
    <h1>Qualities</h1>
    <%= @outline.qualities %>
  </div>
  
  <div class="under">
    <h1>Importance</h1>
    <%= @outline.importance %>
  </div>
</div>
