<h1>We're looking for ... </h1>

<div class="indent">
  <ul>
    <em>Someone who can:-</em>
    <% @responsibilities.each do |responsibility| %>
      <div class="subtext">
        <li><%= responsibility.definition %></li>
      </div>
    <% end %>
  </ul>


  <ul class = "under">
    <em>...with these qualities:</em>
    <% @qualities.each do |q| %>
      <div class="subtext">
        <li><%= q.quality.quality %></li>
      </div>
    <% end %>
  </ul>

  <ul class="under">
    <em>... and meeting these requirements:</em>
    <% @requirements.each do |requirement| %>
      <div class="subtext">
        <li><%= requirement.requirement %></li>
      </div>
    <% end %>
  </ul>
</div>
