<strong>HIRING REQUIREMENTS</strong> (most important at the top)</em></small>

<div class= "display_wider" >
  <ol>
    <% @requirements.each do |requirement| %>
      <li class= "no_bullet"><%= requirement.requirement %></li>
    <% end %>
  </ol>
</div>
