<%= render 'shared/error_messages', :object => f.object %>
<div class="field">
  <%= f.label :qualification %><br />
  <small>Academic or career-based (max 50 characters).</small><br />
  <%= f.text_field :qualification, :size => 40 %>
</div>
