<div class = "r-float">
  <%= link_to "Add a new sector", new_sector_path %><br />
</div>
<h1><%= @title %></h1>

<ul>
  <% @sectors.each do |sector| %>
    <li><%= link_to sector.sector, edit_sector_path(sector) %>
      <% unless sector.associated_businesses? || sector.associated_vacancies? %>
        &nbsp;
        <%= link_to(image_tag("cancel.png", :size => "15x15"), sector, 
                   :method => :delete, 
                   :confirm => "You sure?",
                   :title => "Delete #{sector.sector}") %>
      <% end %>
    </li>
  <% end %>
</ul>
