Dear <%= @user.name %>
<br /><br />
  The Admin team at <strong><%= @business.name %></strong> has reactivated your HYGWIT account with them.
  You'll see the details next time you log in to HYGWIT.
<br /><br />
  Recently you've been on your own with the website, not associated with a business. Now your new 'Employee' account with
  <%= @business.name %> will take precedence, and features like job-searches and your Self-Portrait will not be available.
  But nothing you've entered will be deleted or lost.  If you ever stop working with the new business, your current HYGWIT
  data will be restored.     
  <br /><br />
  We hope you're enjoying the HYGWIT experience!
  <br /><br />
  THE HYGWIT TEAM.
  <br /><br />
  <a href="http://blooming-sword-634.heroku.com/signin">HYGWIT log-in</a>
  
