Dear <%= @user.name %>
<br /><br />
  The Admin team at <strong><%= @business.name %></strong> has reactivated your HYGWIT account with them.
  You'll see the details next time you log in to HYGWIT.
<br /><br />
  Nothing else changes.  You'll continue to have exactly the same access rights as now, but with this additional job.
  <br /><br />
  Hope you're making the most of your HYGWIT experience!
  <br /><br />
  THE HYGWIT TEAM.
  <br /><br />
  <a href="http://blooming-sword-634.heroku.com/signin">HYGWIT log-in</a>
  
