<h1 class="no-gap">
  <%= @job.job_title %>
  <span class="no-print">
    <%= image_tag("complete.png") if @job.plan.complete? %>
    <%= image_tag("locked.png") if @job.plan.no_changes? %>
  </span>
</h1>      
<div class="subtext">
  <% unless @job.department.name == "Unknown" %>
    Department: <%= @job.department.name %>
  <% end %>
</div>
