<%= link_to image_tag("pageback.png", :title => "Previous"), @vacancy, :class => "magnify" %>

<%= render "/vacancies/brief" %> 
<br />
<h1>Job summary</h1>
<%= render "/outlines/fields_nonedit" %>

<div id="specs" class="under">
  <%= render "/applications/specs" %>
</div>
