<%= link_to image_tag("pageback.png", :title => "Previous"), qualities_path, :class => "magnify" %>

<div class="shift_center_50">
  <%= form_for(@quality) do |f| %>
    <%= render @quality, :f => f %>
    <div class="actions">
      <%= f.submit "Create Personal Attribute", :class => "create round" %>
    </div>
  <% end %>
</div>
