<h1>Our services</h1>
<p>
  If you agree with us that the management of achievement is critical to a business's well-being and prosperity,
  then it makes sense to appoint a dedicated achievement manager.  But what if there's nobody in your business with
  the time and experience to take on the role?  That's where we can help, seconding one of our experts to you, for 
  either a temporary or long-term assignment.<br /><br />
  
  What can we do for you and how will you benefit?
</p>
  <div id="listing">
  <ol>
    <li>We can develop closely-targeted strategic objectives and robust achievement plans for you, working closely with your management team.</li>
    <li>We can train your team to write clear business objectives and effective A-Plans.</li>
    <li>We can suggest how objectives and A-Plans you have written could be improved.</li>
    <li>We can monitor individual and team performance on a monthly basis.  Amongst our activities would be checking A-Plan updates, 
      sending review reminders, reporting on review anomalies, and drawing attention to strugglers, people who may need to be
      challenged, and those who could be candidates for promotion.</li> 
  </ol>
  </div>
<p>
  An external consultant brings objectivity and a fresh way of looking at things.  This could be particularly important if your 
  business is going through a period of change.  As we help you to develop A-Plans, you'll probably find that we'll challenge
  long-held assumptions and suggest new approaches.  We may not always be right of course, and the final decisions will always
  be yours, but even if you decide to change very little, ever yone involved will have a better understanding of their targets.
  <br /><br />
  How much assistance will you need from our expert?  Well, it depends on your circumstances.  Some businesses
  will need just a few hours of help to get started; others may need a day or two each month; if we're helping to write your A-Plans, there
  may be an intensive period of activity, and then our involvement will gradually decrease.  If you're thinking about using one of our consultants,
  send us an email (via the <i>'Contact'</i> page), telling us who you and your business are, and the kind of help you might need. Then give us your
  Skype number and 2-3 dates and times when it would be convenient for us to call you to discuss a possible arrangement.
  <br /><br />
  What about costs? Typically we charge £60 per on-line consultant hour ... but before we finalize any arrangement, we'll offer you one hour of free
  consultancy to give you a feel for what we can do - and to show you how your investment will add value.  Then, if you're happy to go ahead, we agree
  a monthly schedule of work with clearly defined targets (.. what else would you expect from us?). Each month our fee needs to be prepaid - but you have
  a guarantee: if we fail to meet our targets on schedule, then the same fee is credited to you for the following month.  
  <br /><br />
  If we have a long-term agreement but you want to cancel the 
  arrangement, all you need to do is to stop the payment for the next month.  (We'd appreciate it if you'd also mail us to tell us that you're planning
  to cancel, with the reason why, if you feel we ought to know ... but there'll be no pressure from us to try to persuade you to change your mind.)
  <br /><br />
  If you have questions about any of this, just drop us an email at our normal address.
</p>
