<h1>About Us</h1>
<p>
      	I'm <a href = "http://uk.linkedin.com/in/alanmiles">Alan Miles</a> and 		I'm passionate about Achievement Management.  The application I've 		designed - JobScape - helps people to succeed at work by showing them 		exactly what they're expected to achieve.  No matter what the job, 		objective targets are clearly defined, making great performance a 		statement of fact instead of a matter of opinion.
      	<br /><br />
      	Whether you're a manager, a recruiter, a jobseeker, or just someone 		trying to make the maximum impact in your job, the JobScape tools will 		sharpen your focus and make you more effective than ever.
      	<br /><br />
      	If you'd like to learn more about Achievement Management, or contribute 	your own ideas and experiences, then join us at the <a href = 		"#">JobScape blog</a>.
</p>

