<h1>Admin Menu</h1>

<ul>
  <li><%= link_to "Occupations", occupations_path %></li>
  <li><%= link_to "Sectors", sectors_path %></li>
  <li><%= link_to "Businesses", businesses_path %></li>
  <li><%= link_to "Personal Attributes", qualities_path %></li>
</ul>
