
<p>
  <strong>HYGWIT</strong> - <em>Have You Got What It Takes?</em>  It's not so much a question, more a challenge. 
</p>
<p>
  We all know businesses are struggling and jobs are hard to hang on to, even harder to find.  You could
  call it a problem.  We think it's an opportunity ... if we have better ways to measure and manage achievement.  
  And that's exactly what HYGWIT provides.
</p>
<p>
  Maybe you're looking for a new job.  Maybe it's time to fast-forward a career in pause mode.  Or maybe you're
  a manager or owner intent on strengthening the bottom-line, driving your business forward.  There are HYGWIT tools for all 
  of you.  To learn more, just check out:-
</p>
<ul class="no_dec">
  <li><%= link_to "The latest vacancies", latest_vacancies_path %></li>
  <li><%= link_to "Our how-to videos", "#" %></li>
  <li><%= link_to "The HYGWIT blog", "#" %></li>
</ul>
<br />
<p>Or better still, give HYGWIT a test-run.  With no cost or commitment:-</p>

<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>

