<div class = "r-float">
  <%= link_to "Home Page", employee_home_path %><br />
</div>
<h1><%= @title %></h1>
<div class="info_box_screen">
  When you start a new job, most businesses give you a job description, listing the activities you're expected
  to be involved in.  For example, if you're a secretary, there'll be something about writing correspondence and
  answering the phone; if you're involved in HR, there'll be references to keeping staff records, handling disputes,
  perhaps participation in payroll preparation; if you're a manager, the list will probably include recruitment, 
  team appraisals and preparing a budget.
  <br /><br />
  But, unless you're involved in sales, the traditional job description almost never sets targets.  Nobody tells 
  you <em>how well</em> you're expected to perform, how you can measure whether you're succeeding or failing.  It's all
  a matter of opinion - and your opinion might differ from your boss's. If your job is to answer the phone, how long should
  callers expect to wait? How quickly should call-backs be made? How do you measure customer satisfaction?  If the answers
  to these questions are clearly deined, then performance is measurable.  And you won't need to wait for your boss to tell
  you whether you're doing well or not.  You'll know whether you've Got What It Takes.
  <br /><br />
  So in HYGWIT, the key guidance document for employees is not the job description but the achievement plan - the A-Plan. 
  And fundamental to the A-Plan is objectivity.  For each of the job's critical responsibilities, we need statements that
  are measurable, so that anyone reviewing performance would agree that a statement is either true or not true.  We won't be asking <em>Does 
  she answer the phone well?</em> (which is a matter of opinion) but <em>Did callers ever need to wait for more than 10 rings?</em>
  (which is a matter of fact).
  <br /><br />
  And because we're dealing with hard facts, it becomes much easier to address problems when they arise.  If we've established
  that callers were waiting too long, was it because the employee was too busy with something else, or because there was no back-up, or
  because she needs more training ... or was she just not bothered?  Once we've established an A-Plan, reviews can be set up in moments, and
  we have a straightforward tool to build a development plan.  Or better still, because the employee has all the knowledge she
  needs to review her own performance, a <i>self-development plan</i>. 
  <br /><br />
  Hopefully you're already beginning to see how the HYGWIT approach makes fundamental changes to the way we work. 
  <br /><br />
   Let's explain where targets fit: <br />
    <strong>Objective:</strong> A general statement of intent.<br />
    <strong>Target:</strong> A measurement at a point of time, proving that you're on your way to achieving the objective.<br />
    <strong>Task:</strong> A micro-activity, a step towards the accomplishment of the target.
    <br /><br />
    When planning, it's best to start with objectives and then to move down through targets to tasks.  Performance works the other
    way round: by accomplishing the scheduled tasks, we aim to achieve our targets, and if we achieve our targets, then we fulfil
    our objectives.
    <br /><br />
    For example, a business might set an objective: <em>We want closer engagement with our customers, to build brand loyalty.</em>
    One of the targets might involve developing an interactive Facebook presence.  The stated target might be: <i>Launch new Facebook 
    pages by October 31</i>.  Then there would be a series of tasks. <i>Get approval for the site plan; write the content; hire a
    designer, etc</i>
    <br /><br />
    After launch, new targets would be set.  For example: <i>Get 500 customers following the Facebook pages by December 31.</i>  Tasks
    might include publicising the site in a mail-shot to customers; including a reference to the site in other advertising; using Twitter
    to draw attention to the pages, and so on.
    <br /><br />
    In just the same way, you can set targets and tasks for personal objectives.  For example, imagine you're working in a call center,
    and your achievement plan states that all customer calls must be answered by someone in your team within 30 seconds.  But in your last review, you
    failed to hit the target.  You don't think it's your fault.  You just can't keep up with the number of calls coming in - and you
    know that most of your colleagues are struggling too.  You consider asking your boss to modify the achievement plan to allow a delay time
    of 1 minute, not 30 seconds.  But you know that will damage your business - after all, one reason why you've been successful is because of your
    reputation for not keeping callers waiting.
    <br /><br />
    You don't have the answer yet, but you want management to understand the problem, so that you can work out solutions together.  So, on
    your own initiative, you set a target. <em>Within 1 week submit a report to my boss showing 1) the number of calls per hour; 2) the
    subject of each call; 3) the length of time on each call</em>.  You then write a series of daily tasks, reminding yourself to keep the
    records while you're working.  You might write a second target too, aiming to persuade your boss to brainstorm the problem with the
    team within two weeks.  Your daily tasks might include canvassing your colleagues for their views and ideas.
    <br /><br />
    As you've seen, targets need to include a firm completion date.  What if you miss it?  It happens.  Nobody has perfect foresight.
    If you do miss a target-date, HYGWIT will continue to show the target until you check it off as completed.  We also allow you to cancel a 
    target, and add an explanatory note if circumstances change, as they sometimes do.
    <br /><br />
    But if you frequently miss target-dates, you should start to worry.  It's important to find out why.  Is it because you've a
    bad planner?  Or are you trying to take on too much - or being asked to?  Do you need extra training or guidance?  What needs to change
    for you to achieve more?  It's important to find out, because if you don't hit your targets, the business may not fulfil
    its objectives, and that could be disastrous for everyone.
    <br /><br />
    That's why we don't allow you to delete targets or change target-dates - only cancel them and add an explanation if the schedule is
    delayed.  (You <i>can</i> delete or change the target-date for three days after you've added a new target, but not after that.) This means that
    there's a permanent record for you and your boss to review from time to time, to check that you're generally on track.
    <br /><br />
    HYGWIT stores targets for a year from the scheduled completion date, and then automatically deletes them, whether they've been
    achieved or not.
  
</div>
