
  <h1>
    Home - <%= @user.name %>
  </h1>

  With your HYGWIT JOBSEEKER ACCOUNT, you can:
  
  <div class ="menu_box round grayborder" style = "margin-top: 15px; margin-bottom: 15px">
  <ul style="margin-bottom: 0px">
    <li>Check that your <%= link_to "user details and location", edit_user_path(@user) %> are correct</li>
    <li><%= link_to "Build your HYGWIT Self-Portrait", user_portrait_path(@user) %> - to get employers' attention</li>
    <li>Set your job-search preferences</li>
    <li>Check out recommended job-matches</li>
    <li><%= link_to "Search, bookmark and apply for jobs", jobsearch_menu_path %></li>
    <li>Check your application history</li>
  </ul>
  </div>
  
     With HYGWIT, you'll be dealing directly with employers, not recruitment agencies.  These employers have 
     made two commitments. They're ready to give opportunities to people who need to get started or re-started in
     work.  And they WILL respond to your applications, and not leave you hanging.<br /><br />

     When you're working again, switch to a HYGWIT individual, business, or invitee account.  Backed with our
     achievement tools, you'll make yourself irreplaceable.<br /><br />
  
     BEST OF LUCK WITH YOUR SEARCH!

  

