
<h1>Home - <%= @user.name %></h1>

  
    <h4>WHERE DO YOU WANT TO START?</h4>
    <ul>
      <li>Look for a great job</li>
      <li>Improve your job-search prospects</li>
      <li>Turn your routine job into a career opportunity</li>
      <li><%= link_to "Transform your business", new_business_path %> with powerful achievement tools</li>
  
    </ul>



  

