<%= link_to image_tag("pageback.png", :title => "Approved attributes list"), qualities_path, :class => "magnify" %>

<div class = "r-float">
  <%= link_to "Recent rejections", attribute_rejections_path %> <span id="submits">(<%= @rejections %>)</span><br />  
</div>

  
<%= render "/qualities/attribute_list" %>
