Dear <%= @user.name %>
<br /><br />
  We've been notified that you've left your job at <%= @business.name %> - you'll no longer have access to your 
  records at this business.
  <br /><br />
  However, you still have other HYGWIT access rights, so nothing else will change when you log in.
  <br /><br />
  We hope you're enjoying your experience with the website.
  <br /><br />
  With best wishes
  <br /><br />
  THE HYGWIT TEAM.
  <br /><br />
  <a href="http://blooming-sword-634.heroku.com/signin">HYGWIT log-in</a>
