Dear <%= @user.name %>
<br /><br />
  We've been notified that you've left your job at <%= @business.name %> - you'll no longer have access to your 
  records at this business.
  <br /><br />
  But HYGWIT still have an important part to play - perhaps now more than ever.  When you log in next time, 
  you'll find that you've automatically been given a 'Jobseeker' account.  If you're job-hunting, then you
  can create a Self-Portrait (HYGWIT's new take on the traditional CV).  Then search through the vacancies posted
  on the site, and apply for the jobs that appeal.
  <br /><br />
  Or if you've already been hired by a business that doesn't yet use HYGWIT, then log in, go to 'Settings', and switch
  to an 'Individual' account. This will allow you to set up your own Achievement Plan and review your own performance 
  ... and we hope you'll want to show your new colleagues how their business could benefit from HYGWIT.
  <br /><br />
  You'll also find that your recent diary entries - jobs for this week, objectives for the month, and your Development
  Plan - have been carried across.  Your circumstances may have changed, but the achievement challenge remains!
  <br /><br />
  With best wishes
  <br /><br />
  THE HYGWIT TEAM.
  <br /><br />
  <a href="http://blooming-sword-634.heroku.com/signin">HYGWIT log-in</a>
