Dear <%= @user.name %>
<br /><br />
  We've been notified that you've left your job at <%= @business.name %> - you'll no longer have access to your 
  records at this business.
  <br /><br />
  Before you signed on as an employee with this business, you had an 'Individual' HYGWIT account, where you may
  have set up your own achievement plan and reviewed your own performance.  Perhaps you also created a HYGWIT Portrait
  and used the job-search tools.
  <br /><br />
  When you log in next time, you'll find that your old account has been restored intact.  If you've started working with
  another business that doesn't yet use HYGWIT, you'll be able to set up a new Achievement Plan ... and we hope you'll
  want to show your new colleagues how their business could benefit from HYGWIT.
  <br /><br />
  Or if you're still looking for a job, then of course you can start applying for the jobs posted on HYGWIT.
  <br /><br />
  You'll also find that your recent diary entries - jobs for this week, objectives for the month, and your Development
  Plan - have been carried across.  Your circumstances may have changed, but the achievement challenge remains!
  <br /><br />
  With best wishes
  <br /><br />
  THE HYGWIT TEAM.
  <br /><br />
  <a href="http://blooming-sword-634.heroku.com/signin">HYGWIT log-in</a>
