<div class = "info_box rightpos beige grayborder round" style = "margin-top:15px">
  <br />
  <strong>Personal attributes:</strong> those aspects of our personalities and natural abilities that we find so difficult to change - 
  although sometimes training or mentoring can make a difference over time.  
  <br /><br />
  If people just don't have the right attributes for a 
  job, it's unlikely they'll make a success of it ... even if they have the required knowledge and skills.
  <br /> <br />
</div>
