      <li class= "display_wider" style= "display: block; border-bottom: 1px solid #eee">
          
         <em><%= f.object.quality.quality %></em>
         <div class="field" style="margin-top: 5px">
                   
          <% @pams = f.object.quality.pams %> 
          
          <%= render "/reviews/grades" %>
          
          <div class="field" style="float:left">
            <%= f.label :reviewer_score, "Which description fits best?" %>
            <%= f.select :reviewer_score, @grades %>
          </div>
          <br /><br />
      </li>
      
      
    
