      <li> 
         <%= f.object.quality.quality %>
         
         <% @pams = f.object.quality.pams %> 
         
         <%= render '/reviews/grades' %>  
         
   
         <div class="field subtext highlt under" style="clear: both">
           <%= f.label :reviewer_score, "Best description?" %>
           <%= f.select :reviewer_score, @grades %>
         </div>
          
       </li>
      
      
    
