         <% @pams.each do |p| %>
           <ul>
             <li>
               <div class="r-float list-90"><%= p.descriptor %></div>
               <div class="l-float list-05"><%= p.grade %></div>    
             </li>
           </ul> 
          
         <% end %>
        
