      <li class = "display_wider" style= "border-bottom: 1px solid #eee">
        <em><%= f.object.responsibility.definition %></em>
        <div class="field" style="margin-top:5px">
        <% f.fields_for :reviewgoals do |resp| %>  
          <%= render '/reviews/goals', :f => resp %>  
        <% end %>
        </div>  
      </li>
