<div id="listing" class="under">

  <ul class="no_dec subtext">
    <% @qualities.each do |q| %>
      <li>
        <em>* <%= q.quality.quality %> *</em>
        <div class="subtext under">
          <span class="grade_highlight round"><%= q.reviewer_pam.grade %></span> &nbsp; 
          <%= q.reviewer_pam.descriptor %>
        </div>
      </li>
    <% end %>
  </ul>
</div>
