<%= link_to image_tag("pageback.png", :title => "Previous"), performance_reviews_path, :class => "magnify" %>


<% if @users.empty? %>
  <div class="no_data round" style = "margin-top: 30px"> 
    Everyone seems to be up-to-date with self-appraisals at the moment.
  </div>
<% else %>
  <%= render '/no_reviews/userlist' %>
<% end %>

